.navbar {
  background-color: #ffffff;
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e5e7eb;
}

.header {
  border-bottom: 1px solid #e5e7eb;
  background: #ffffff;
}

.links {
  flex: 1;
}
