# Dokploy ortam değişkenleri (Compose servislerine enjekte edilir)
POSTGRES_USER=navlun
POSTGRES_PASSWORD=guclu-bir-sifre-belirleyin
POSTGRES_DB=navlun
PGRST_JWT_SECRET=uretimde-en-az-32-karakterlik-gizli-anahtar
